<!-- 
  Author: Vince Dang
  Define the notification navbar components of the navigation bar from master layout.
 -->

<template name='notificationNav'>
  <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
    <a href="/" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fa fa-bell"></i>
                                    <span class="badge badge-default"> {{notificationCount}} </span>
                                </a>
    <ul class="dropdown-menu">
      <li class="external">
        <h3>
          <span class="bold">{{notificationCount}} new</span> notifications</h3>
        <a href="/">view all</a>
      </li>
      <li>
        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
          {{#each notifications}} {{> notificationItem}} {{/each}}
        </ul>
      </li>
    </ul>
  </li>
</template>