<!-- 
  Author: Vince Dang
  Define the todo item component of the todo navbar.
 -->

<template name='todoItem'>
  <li>
    <a href="/">
      <span class="task">
          <span class="desc">{{title}}</span>
          <span class="percent">{{progress}}%</span>
      </span>
      <span class="progress">
          <span style="width: {{progress}}%;" class="progress-bar progress-bar-{{label}}" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">{{progress}}% Complete</span>
          </span>
      </span>
    </a>
  </li>
</template>